@page "/CategoriaListar"

<h3>Listagem de Categorias</h3>

<table class="table table-striped">
    <tr>

        <th>Codigo</th>
        <th>Descrição</th>

    </tr>

    <tr>

        <th>1</th>
        <th>Terror</th>

    </tr>










    <tr>

        <th>Codigo</th>
        <th>Descrição</th>

    </tr>

    <tr>

        <th>2</th>
        <th>Suspense</th>

    </tr>















    <tr>

        <th>Codigo</th>
        <th>Descrição</th>

    </tr>

    <tr>

        <th>3</th>
        <th>Comedia</th>

    </tr>

















    <tr>

        <th>Codigo</th>
        <th>Descrição</th>

    </tr>

    <tr>

        <th>4</th>
        <th>Ação </th>

    </tr>
























</table>


@code {

}
